#contracts-container {
  background: white;
  padding: 20px;
}

#search-form {
  float: left;
  margin-right: 5px;
}

#pagenumber {
    margin-bottom: 10px;
}

a.item:hover {
    text-decoration: none;
}

.ui.button {
    /* To make Search button and Show All button same height*/
    line-height: 1.1;
}
