body {
  width: 700px;
  margin: 0px auto;
}

#main-header {
  background: #00b5ad;
  margin: 0;
  padding: 10px;
}

.container {
  background: white;
  padding: 20px;
}

#pagenumber {
    margin-bottom: 10px;
}
