{% extends "layout.html" %}
{% block body %}
<h1>{{contract.details.title}}</h1>

{% if contract.status == 0 %} {# Archived contract e.g. 414447 #}
<div class="ui success icon message">
  <i class="info icon big"></i>
  <div class="content">
    <div class="header">
      The buying process is complete
    </div>
    <p>The buyer is publishing the contract documentation to meet the government transparency commitments.</p>
  </div>
</div>
{% endif %}

{% if contract.status == 5 %} {# Replaced contract e.g. 720122 #}
<div class="ui success icon message">
  <i class="info icon big"></i>
  <div class="content">
    <div class="header">
      This notice has been replaced
    </div>
    <p>Please see the related notices for the replacement notice.</p>
    <p>Reason: </p>
  </div>
</div>
{% endif %}

{% if contract.status == 6 %} {# Replaced contract e.g. 684496 #}
<div class="ui success icon message">
  <i class="info icon big"></i>
  <div class="content">
    <div class="header">
      This notice has been withdrawn
    </div>
    <p>Reason: </p>
  </div>
</div>
{% endif %}

{% if contract.status == 7 %} {# Replaced contract e.g. 1704046 #}
<div class="ui success icon message">
  <i class="info icon big"></i>
  <div class="content">
    <div class="header">
      This notice is pending replacement
    </div>
    <p>Reason: </p>
  </div>
</div>
{% endif %}

<table class="ui definition celled table">
  {% if contract.date_created %}
  <tr>
    <td>Created on</td><td>{{contract.date_created.strftime('%d/%m/%Y')}}</td>
  </tr>
  {% endif %}
  <tr>
    <td>Reference number</td><td>{{contract.ref_no|d('N/A', True)}}</td>
  </tr>

  {% if contract.deadline_date %}
  <tr>
    <td>Deadline date</td><td>{{contract.deadline_date.strftime('%d/%m/%Y')}}</td>
  </tr>
  {% endif %}

  {% if contract.details.deadline_for %}
  <tr>
    <td>This deadline is for...</td><td>{{contract.details.deadline_for}}</td>
  </tr>
  {% endif %}

  <tr>
    <td>Estimated length of contract</td><td>{{contract.length|d('N/A', True)}} Months</td>
  </tr>
  <tr>
    <td>Estimated value</td><td>{{contract.min_value|currency}} - {{contract.max_value|currency}} </td>
  </tr>

  {% if contract.location.name %}
  <tr>
    <td>Location where the contract is to be carried out</td><td>{{contract.location.name}}<br>{{contract.details.location_text}}</td>
  </tr>
  {% endif %}

  {% if contract.is_sme_friendly %}
  <tr>
    <td>Is this suitable for smaller suppliers?</td><td>Yes</td>
  </tr>
  {% endif %}

  {% if contract.is_voluntary_friendly %}
  <tr>
    <td>Is this contract suitable for a voluntary, community and social enterprise organisations?</td><td>Yes</td>
  </tr>
  {% endif %}

  <tr>
      <td>Name of the buying organisation</td>
      <td>{{contract.details.buying_org|d('N/A', True)}}
      {% if contract.details.buying_org %}
          <a href="{{url_for('search')}}?buying_org={{contract.details.buying_org|urlencode}}">(see other contracts from this organisation)<a/>
      {% endif %}
      </td>
  </tr>
</table>

<h2>Description of the contract</h2>
<p>{{contract.details.description|d('No description was provided', True)|safe}}</p>

{% if contract.documents.count() > 0 %}
<h2>Documents</h2>
<div class="ui list">
    {% for doc in contract.documents %}
    <a class="item" href="{{url_for('download', notice_id=contract.id, file_id=doc.file_id)}}">
      <i class="file outline icon"></i>
      <div class="content">
        <div class="header">{{doc.title}}</div>
        <div class="description">({{doc.filename}})</div>
      </div>
    </a>
    {% endfor %}
</div>
{% endif %}

<h2>Additional information</h2>
<table class="ui definition celled table">
  <tr>
    <td>Additional Notes</td><td>{{contract.details.supplier_instructions|d('N/A', True)}}</td>
  </tr>
  <tr>
    <td>Is it a framework agreement?</td><td>{% if contract.is_framework %}Yes{% else %}No{% endif%}</td>
  </tr>
{% if contract.date_awarded %}
  <tr>
    <td>Awarded on</td><td>{{contract.date_awarded.strftime('%d/%m/%Y')}}</td>
  </tr>
  <tr>
    <td>Awarded value</td><td>{{contract.max_value|currency}}</td>
  </tr>
{% endif %}
</table>

{% if contract.award %}
<h2>Awarded suppliers</h2>
<table class="ui definition celled table">
<tr>
    <td>Name</td><td>{{contract.award.details.business_name}} <a href="{{url_for('search')}}?business_name={{contract.award.details.business_name|urlencode}}">(see other contracts awarded to this supplier)<a/></td>
</tr>
<tr>
    <td>Address</td><td>{{contract.award.details.business_address}}</td>
</tr>
</table>
{% endif %}

<h2>Who to contact</h2>
<table class="ui definition celled table">
{% if contract.details.contact_name %}
  <tr>
    <td>Contact name</td>
    <td>
      {{contract.details.contact_name}}
    </td>
  </tr>
{% endif %}

{% if contract.details.contact_email %}
  <tr>
    <td>Email</td>
    <td>
      <a href="mailto:{{contract.details.contact_email}}">{{contract.details.contact_email}}</a>
    </td>
  </tr>
{% endif %}

{% if contract.details.contact_address %}
  <tr>
    <td>Address</td>
    <td>
      {{contract.details.contact_address}}
    </td>
  </tr>
{% endif %}

{% if contract.details.contact_tel %}
  <tr>
    <td>Telephone</td>
    <td>
      {{contract.details.contact_tel}} 
      {% if contract.details.contact_extension %}
      (extension: {{contract.details.contact_extension}})
      {% endif %}
    </td>
  </tr>
{% endif %}

{% if contract.details.contact_fax %}
  <tr>
    <td>Fax</td>
    <td>
      {{contract.details.contact_fax}}
    </td>
  </tr>
{% endif %}

{% if contract.details.contact_web %}
  <tr>
    <td>Web address</td>
    <td>
      <a href="{{contract.details.contact_web|external_link}}">{{contract.details.contact_web}}</a>
    </td>
  </tr>
{% endif %}
</table>
{% endblock %}
