{% extends "layout.html" %}
{% block body %}
{% if query %}
  <h1>Search Results</h1>
  <p><strong>You Searched for:</strong> {{query}}</p>
  {% set count = contracts|length %}
  {% if count == 1 %}
  <p>We found 1 result</p>
  {% else %}
  <p>We found {{count}} results</p>
  {% endif %}
{% else %}
  <h1>All Contracts</h1>
{% endif %}

<table class="ui table celled striped">
    <thead>
        <tr><th>Contract</th><th>Location</th><th>Value</th><th>Type</th></tr>
    </thead>
    <tbody>
    {% for contract in contracts %}
    <tr>
      <td>
        <a href="{{url_for('contract', notice_id=contract.id)}}">{{contract.details.title}}</a>
        <p>{{contract.details.description|d('No description was provided', True)}}</p>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="ui segment">
  <div id="pagenumber">Page X of Y</div>
  <div class="ui pagination menu">
    <a class="icon item {% if not prevlink %}disabled{% endif %}">
      <i class="left arrow icon"></i>
      Previous
    </a>
    <a class="icon item {% if not nextlink %}disabled{% endif %}">
      Next
      <i class="right arrow icon"></i>
    </a>
  </div>
</div>
{% endblock %}
