{% extends "layout.html" %}

{% block extra_head %}
<script type="text/javascript">
  $(function() {
      $(".chosen-select").chosen({allow_single_deselect: true});
  });
</script>
{% endblock %}

{% block body %}
{% if query is defined %}
  <h1>Search Results</h1>
  <p><strong>You Searched for:</strong> "{{query}}"</p>
  {% if total == 1 %}
  <p>We found 1 result</p>
  {% else %}
  <p>We found {{total}} results</p>
  {% endif %}
{% else %}
  <h1>All Contracts</h1>
{% endif %}

<div class="ui two column stackable grid">
    <div class="four wide column">
        <div id="search-menu" class="ui vertical menu">
            <form method="GET" action="{{url_for('search')}}">
            <div class="item">
                <input type="text" name="q" value="{{request.args.q}}">
            </div>
        {% for name, agg in facets.items() %}
            <div class="item">
                <div class="header">{{agg.title}}</div>
                <select class="chosen-select" name="{{name}}">
                  <option value=""></option>
                {% for opt in agg.buckets|sort_bucket %}
                  {% if request.args[name] == opt.key %}
                    <option value="{{opt.key}}" selected>{{opt.key}}</option>
                  {% else %}
                    <option value="{{opt.key}}">{{opt.key}}</option>
                  {% endif %}
                {% endfor %}
                </select>
            </div>
        {% endfor %}
            <div class="item">
                <div class="header">Minimum Contract Value (&pound;)</div>
                <input type="text" name="min_value" value="{{request.args.min_value}}"></input>
            </div>
            <div class="item">
                <div class="header">Maximum Contract Value (&pound;)</div>
                <input type="text" name="max_value" value="{{request.args.max_value}}"></input>
            </div>
          <div class="item">
              <button class="ui green button">Update results</button>
          </div>
        </form>
        </div>
    </div>
    <div class="twelve wide column">

<table class="ui table celled striped">
    <thead>
        <tr><th>Contract</th><th>Location</th><th>Value</th><th>Type</th></tr>
    </thead>
    <tbody>
    {% for contract in contracts %}
    <tr>
      <td>
        <a href="{{url_for('contract', notice_id=contract.id)}}">{{contract.details.title}}</a>
        <p>{{contract.details.description|d('No description was provided', True)|truncate(1000)|safe}}</p>
      </td>
      <td style="text-align:center">{{contract.location.name}}</td>
      <td style="text-align:center">
      {{contract.min_value|currency}}
      {% if contract.min_value != contract.max_value %}
      <br/>
      <i class="icon chevron down"></i>
      <br/>
      {{contract.max_value|currency}}
      {% endif %}
      </td>
      <td style="text-align:center">{{contract.type}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="ui segment">
  <div id="pagenumber">Page {{page}} of {{total_pages}}</div>
  <div class="ui pagination menu">
    {% if prevlink %}
    <a class="icon item" href="{{prevlink}}">
    {% else %}
    <a class="icon item disabled">
    {% endif %}
      <i class="left arrow icon"></i>
      Previous
    </a>
    {% if nextlink %}
    <a class="icon item" href="{{nextlink}}">
    {% else %}
    <a class="icon item disabled">
    {% endif %}
      Next
      <i class="right arrow icon"></i>
    </a>
  </div>
</div>
</div>
</div>

{% endblock %}
