{% extends "layout.html" %}
{% block body %}
<h1>{{contract.details.title}}</h1>

<table class="ui definition celled table">
  <tr>
    <td>Created on</td><td>{{contract.date_created.strftime('%d/%m/%Y')}}</td>
  </tr>
  <tr>
    <td>Reference number</td><td>{{contract.ref_no|d('N/A', True)}}</td>
  </tr>

  {% if contract.deadline_date %}
  <tr>
    <td>Deadline date</td><td>{{contract.deadline_date.strftime('%d/%m/%Y')}}</td>
  </tr>
  {% endif %}

  {% if contract.details.deadline_for %}
  <tr>
    <td>This deadline is for...</td><td>{{contract.details.deadline_for}}</td>
  </tr>
  {% endif %}

  <tr>
    <td>Estimated length of contract</td><td>{{contract.length|d('N/A', True)}} Months</td>
  </tr>
  <tr>
    <td>Estimated value</td><td>{{contract.min_value|currency}} - {{contract.max_value|currency}} </td>
  </tr>

  {% if contract.location.name %}
  <tr>
    <td>Location where the contract is to be carried out</td><td>{{contract.location.name}}<br>{{contract.details.location_text}}</td>
  </tr>
  {% endif %}

  {% if contract.is_sme_friendly %}
  <tr>
    <td>Is this suitable for smaller suppliers?</td><td>Yes</td>
  </tr>
  {% endif %}

  {% if contract.is_voluntary_friendly %}
  <tr>
    <td>Is this contract suitable for a voluntary, community and social enterprise organisations?</td><td>Yes</td>
  </tr>
  {% endif %}

  <tr>
    <td>Name of the buying organisation</td><td>{{contract.details.buying_org|d('N/A', True)}}</td>
  </tr>
</table>

<h2>Description of the contract</h2>
<p>{{contract.details.description|d('No description was provided', True)|safe}}</p>

{% if contract.documents.count() > 0 %}
<h2>Documents</h2>
<div class="ui list">
    {% for doc in contract.documents %}
    <a class="item" href="{{url_for('download', notice_id=contract.id, file_id=doc.file_id)}}">
      <i class="file outline icon"></i>
      <div class="content">
        <div class="header">{{doc.title}}</div>
        <div class="description">({{doc.filename}})</div>
      </div>
    </a>
    {% endfor %}
</div>
{% endif %}

<h2>Additional information</h2>
<table class="ui definition celled table">
  <tr>
    <td>Additional Notes</td><td>{{contract.details.supplier_instructions|d('N/A', True)}}</td>
  </tr>
  <tr>
    <td>Is it a framework agreement?</td><td>{% if contract.is_framework %}Yes{% else %}No{% endif%}</td>
  </tr>
{% if contract.date_awarded %}
  <tr>
    <td>Awarded on</td><td>{{contract.date_awarded.strftime('%d/%m/%Y')}}</td>
  </tr>
  <tr>
    <td>Awarded value</td><td>{{contract.max_value|currency}}</td>
  </tr>
{% endif %}
</table>

{% if contract.details.contact_email %}
<h2>Who to contact</h2>
<div class="ui list">
  <a class="item" href="mailto:tom@example.com">
    <i class="at icon"></i>
    <div class="content">
      {{contract.details.contact_email}}
    </div>
  </a>
</div>
{% endif %}
{% endblock %}
