{% extends "layout.html" %}
{% block body %}
<h2>Detailed reports - older notices</h2>
<p>Each month a snapshot is taken of the recent notices, and published in the list below.  They are in XML and CSV format and contain the information in the same form as the recent notices data.</p>
<div class="ui list">
  {% set year=2015 %}
  {% set month=01 %}
  {% set filename = 'files/notices_{0}_{1:02d}.csv'.format(year, month) %}
  <a class="item" href="{{url_for('static', filename=filename)}}">
    <i class="icon file excel outline"></i>
    <div class="content">{{month|month}}-{{year}}</div>
  </a>

  {% set filename = 'files/notices_{0}_{1:02d}.xml'.format(year, month) %}
  <a class="item" href="{{url_for('static', filename=filename)}}">
    <i class="icon file code outline"></i>
    <div class="content">{{month|month}}-{{year}}</div>
  </a>
  <span class="item"></span>

  {% for year in range(2014, 2010, -1) %}
    {% for month in range(12, 0, -1) %}
    {% set filename = 'files/notices_{0}_{1:02d}.csv'.format(year, month) %}
    <a class="item" href="{{url_for('static', filename=filename)}}">
      <i class="icon file excel outline"></i>
      <div class="content">{{month|month}}-{{year}}</div>
    </a>

    {% set filename = 'files/notices_{0}_{1:02d}.xml'.format(year, month) %}
    <a class="item" href="{{url_for('static', filename=filename)}}">
      <i class="icon file code outline"></i>
      <div class="content">{{month|month}}-{{year}}</div>
    </a>
    <span class="item"></span>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}
