{% extends "layout.html" %}
{% block body %}
<div >Search</h1>

<form action="{{url_for('search')}}">
  <div class="ui action left icon input">
    <i class="search icon"></i>
    <input name="q" type="text" placeholder="Enter keywords here">
    <button class="ui teal button">Search</button>
  </div>
</form>

<h2>WELCOME TO THE CONTRACTS ARCHIVE</h2>
<div class="ui inverted segment">
  <p>WARNING: This is archived data.</p>
</div>
<p>This site is a read only archive of historic contract data from the Business Link Contracts Finder website that closed in February 2015.</p>

<p>This site includes public sector contract tenders and contracts awarded between 11/2/2011 and 25/2/2015</p>

<p>The site was superceded by a <a href="https://www.gov.uk/contracts-finder">new Contracts Finder</a> designed and operated by Government Digital Services.</p>

<p>The data has been frozen when the site closed. This data will not be updated and will not be up to date for contracts which have been awarded since the data was frozen. There was no batched copying of data from the old site to the new site, but there may have been transfers on a case-by-case basis.</p>

<p>This archive has been provided by the <a href="http://data.gov.uk/">data.gov.uk</a> team using data from Crown Commerical Services.</p>

<h2>Suggested Searches</h2>

<div class="ui horizontal list massive">
    <a class="item" href="{{url_for('search')}}?q=construction">
      <i class="black building outline icon"></i>
      <div class="content">
        Construction
      </div>
    </a>
    <a class="item" href="{{url_for('contracts')}}">
        <i class="black star outline icon"></i>
        <div class="content">
          All Contracts
        </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=cleaning">
      <i class="black home icon"></i>
      <div class="content">
        Cleaning
      </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=security">
      <i class="black lock icon"></i>
      <div class="content">
        Security
      </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=research">
      <i class="black lab icon"></i>
      <div class="content">
        Research
      </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=training">
      <i class="black student icon"></i>
      <div class="content">
        Training
      </div>
    </a>
</div>
{% endblock %}
