{% extends "layout.html" %}
{% block body %}
<h2>WELCOME TO THE CONTRACTS ARCHIVE</h2>
<div class="ui inverted segment">
  <p>WARNING: This is archived data.</p>
</div>
<p>This site is a read only archive of historic contract data from the Business Link Contracts Finder website that closed in February 2015.</p>

<p>This site includes public sector contract tenders and contracts awarded between 11/2/2011 and 25/2/2015.</p>

<p>The site was superseded by a new <a href="https://www.gov.uk/contracts-finder">Contracts Finder</a> designed and operated by the Crown Commercial Service.</p>

<p>This data will not be updated and does not contain contracts which have been awarded since 26/2/2015. There was no batched copying of data from the old site to the new site, but there may have been transfers on a case-by-case basis.</p>

<p>Currently this site <strong>does not</strong> list contracts above the <a href="https://www.gov.uk/government/publications/procurement-policy-note-1013-new-threshold-levels-for-2014">OJEU threshold</a>, but it will be included in the future. Information about these contracts can be found on the <a href="http://ted.europa.eu/TED/main/HomePage.do">TED site</a>.</p>

<p>This archive has been provided by the <a href="http://data.gov.uk/">data.gov.uk</a> team using data from the Crown Commercial Service.</p>

<h2>Suggested Searches</h2>

<div class="ui horizontal list massive">
    <a class="item" href="{{url_for('search')}}?q=construction">
      <i class="black building outline icon"></i>
      <div class="content">
        Construction
      </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=cleaning">
      <i class="black home icon"></i>
      <div class="content">
        Cleaning
      </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=security">
      <i class="black lock icon"></i>
      <div class="content">
        Security
      </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=research">
      <i class="black lab icon"></i>
      <div class="content">
        Research
      </div>
    </a>
    <a class="item" href="{{url_for('search')}}?q=training">
      <i class="black student icon"></i>
      <div class="content">
        Training
      </div>
    </a>
</div>
<h2>Data Download</h2>
<p>Click <a href="{{url_for('data_feeds')}}">here</a> for historic data which can be downloaded in XML or CSV format.</p>
{% endblock %}
