{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/main.css"/>
{% endblock %}

{% block page_title %}
  Contract Finder Archive
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
{% endblock %}


{% block cookie_message %}
{% endblock %}


{% block content %}
  <main id="content" role="main" tabindex="-1">
    {% block inner_content %}{% endblock %}
  </main>
{% endblock %}

{% block footer_support_links %}

{% endblock %}


{% block body_end %}
{% endblock %}
